//Vollkorn
@font-face {
  font-family: 'Vollkorn';
  src: url('../../fonts/Vollkorn-Medium.eot');
  src: url('../../fonts/Vollkorn-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Vollkorn-Medium.woff2') format('woff2'),
  url('../../fonts/Vollkorn-Medium.woff') format('woff'),
  url('../../fonts/Vollkorn-Medium.ttf') format('truetype'),
  url('../../fonts/Vollkorn-Medium.svg#Vollkorn-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../../fonts/Vollkorn-Bold.eot');
  src: url('../../fonts/Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Vollkorn-Bold.woff2') format('woff2'),
  url('../../fonts/Vollkorn-Bold.woff') format('woff'),
  url('../../fonts/Vollkorn-Bold.ttf') format('truetype'),
  url('../../fonts/Vollkorn-Bold.svg#Vollkorn-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../../fonts/Vollkorn-Regular.eot');
  src: url('../../fonts/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Vollkorn-Regular.woff2') format('woff2'),
  url('../../fonts/Vollkorn-Regular.woff') format('woff'),
  url('../../fonts/Vollkorn-Regular.ttf') format('truetype'),
  url('../../fonts/Vollkorn-Regular.svg#Vollkorn-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Raleway
@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Bold.eot');
  src: url('../../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Raleway-Bold.woff2') format('woff2'),
  url('../../fonts/Raleway-Bold.woff') format('woff'),
  url('../../fonts/Raleway-Bold.ttf') format('truetype'),
  url('../../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Medium.eot');
  src: url('../../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../../fonts/Raleway-Medium.woff') format('woff'),
  url('../../fonts/Raleway-Medium.ttf') format('truetype'),
  url('../../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Regular.eot');
  src: url('../../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../../fonts/Raleway-Regular.woff') format('woff'),
  url('../../fonts/Raleway-Regular.ttf') format('truetype'),
  url('../../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


//Yesteryear
@font-face {
  font-family: 'Yesteryear';
  src: url('../../fonts/Yesteryear-Regular.eot');
  src: url('../../fonts/Yesteryear-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Yesteryear-Regular.woff2') format('woff2'),
  url('../../fonts/Yesteryear-Regular.woff') format('woff'),
  url('../../fonts/Yesteryear-Regular.ttf') format('truetype'),
  url('../../fonts/Yesteryear-Regular.svg#Yesteryear-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

