.basket {
  width: 100%;
  padding: 2rem;

  &__actual {
    width: 100%;
    margin-bottom: 2rem;
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    width: 44rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 2rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    position: relative;
    min-height: 20rem;
    border-radius: .5rem;

    &__title {
      color: #161824;
      font-size: 1.8rem;
      line-height: 1.6rem;
      font-family: "Roboto", sans-serif;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    &__fig {
      width: 20rem;
      height: 15rem;
      border-radius: .5rem;
    }

    &__box {
      width: calc(100% - 20rem);
      height: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .5rem;
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 15rem;
      width: 15rem;
    }

    &__del {
      font-weight: 300;
      position: absolute;
      top: 2rem;
      right: 1rem;
      font-size: 1.6rem;
      font-family: sans-serif;
      cursor: pointer;
      color: $black;
      transition: all .4s;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0;
      outline: 0;
      background-color: unset;

      &:hover {
        background-color: $grey;
      }
    }
  }

  &__total {
    font-size: 3rem;
    color: $blue;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.payment {
  width: 100%;

  & .container {
    background-color: $white;
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &__form {
    width: 50rem;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__address {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: $blue;
    outline: 0;
    margin-bottom: 1rem;
    border: .1rem solid $grey;
    border-radius: .2rem;

    &::placeholder {
      font-size: 1.7rem;
      color: $grey;
    }
  }

  &__notes {
    width: 100%;
    height: 10rem;
    resize: none;
    font-size: 1.7rem;
    color: $blue;
    outline: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .1rem solid $grey;
    border-radius: .2rem;

    &::placeholder {
      font-size: 1.7rem;
      color: $grey;
    }
  }

  &__types {
    width: 100%;
    font-size: 1.7rem;
    color: $blue;
    margin-bottom: 1rem;

    &::placeholder {
      font-size: 1.7rem;
      color: $grey;
    }
  }
}
