.login {
  width: 100%;
  padding: 2rem;

  & .container {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 3rem;
    color: $white;
    font-weight: 400;
    text-align: center;
  }

  &__forgot {
    font-size: 1.6rem;
    color: $white;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    background-color: unset;
    outline: 0;
    cursor: pointer;
    border: 0;
    transition: all .4s;

    &:hover {
      color: $lightOrange;
    }
  }

  &__form {
    width: 50rem;
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0;
    flex-wrap: wrap;
    justify-content: space-around;

    &__checkbox__container {
      display: flex;
      align-items: center;
    }

    &__checkbox {
      display: none;

      &:checked {
        & ~ .login__form__checkbox__visual > .login__form__checkbox__visual__first {
          width: .7rem;
        }

        & ~ .login__form__checkbox__visual > .login__form__checkbox__visual__second {
          width: 1.4rem;
          transform: rotateZ(-48deg);
        }
      }

      &__visual {
        width: 2.4rem;
        height: 2.4rem;
        background-color: inherit;
        border: .2rem solid $white;
        border-radius: .4rem;
        position: relative;
        cursor: pointer;
        margin-right: 1rem;

        &__first {
          position: absolute;
          top: 1.2rem;
          left: 0.2rem;
          width: 0;
          height: 0.2rem;
          background-color: $white;
          transform: rotateZ(36deg);
          transition: all 0.4s;
          border-radius: .5rem;
        }

        &__second {
          position: absolute;
          top: .9rem;
          left: 0.39em;
          width: 0;
          height: 0.2rem;
          background-color: $white;
          transform: rotateZ(0deg);
          transition: all .4s;
          border-radius: .5rem;
        }
      }
    }

    &__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      &.fit__content {
        width: fit-content;
      }
    }

    &__btn__container {
      width: 100%;
      display: flex;
    }

    &__btn__wrapper {
      display: flex;
      justify-content: center;
    }

    &__label {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      transition: all 0.3s;
      width: fit-content;
    }

    &__input {
      width: 50%;
      padding: 1rem;
      border: .1rem solid $blue;
      outline: 0;
      font-family: $defaultFont;
      font-size: 1.5rem;
      color: $blue;
    }

    &__submit {
      left: 0;
      right: 0;
      margin: 2rem auto 0;
    }

    &__phone {
      width: 50%;
    }

    .PhoneInput {
      &Input {
        width: 50%;
        padding: 1rem;
        border: .1rem solid $black;
        outline: 0;
        font-family: $defaultFont;
        font-size: 1.5rem;
      }

      &Country {
        width: 3rem;

        &Icon {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
