.login {
  width: 100%;
  padding: 2rem;

  & .container {
    height: 100%;
    padding: 2rem;
    background-color: $white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 5.6rem;
    color: $blue;
    font-weight: 400;
    font-family: "Yesteryear", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__forgot{
    font-size: 1.6rem;
    color: $blue;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    background-color: unset;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  &__form {
    width: 50rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;

    &__checkbox{
      display: none;
      &:checked{
        & ~ .login__form__checkbox__visual > .login__form__checkbox__visual__first{
          width: .9rem;
        }
        & ~ .login__form__checkbox__visual > .login__form__checkbox__visual__second{
          width: 1.8rem;
          transform: rotateZ(-40deg);
        }
      }
      &__visual{
        min-width: 2.8rem;
        height: 2.8rem;
        background-color: inherit;
        border: .2rem solid $black;
        border-radius: .4rem;
        margin-right: 2rem;
        position: relative;
        cursor: pointer;
        &__first {
          position: absolute;
          top: 1.4rem;
          left: 0.1em;
          width: 0;
          height: 0.2rem;
          background-color: $black;
          transform: rotateZ(40deg);
          transition: all .4s;
        }
        &__second {
          position: absolute;
          top: 1.1rem;
          left: 0.48em;
          width: 0;
          height: 0.2rem;
          background-color: $black;
          transform: rotateZ(0deg);
          transition: all .4s;
        }
      }
    }

    &__box {
      width: 50rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      &.fit__content{
        width: fit-content;
      }
    }

    &__btn__container{
      width: 100%;
      display: flex;
    }

    &__label {
      font-size: 2rem;
      color: $blue;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
    }

    &__input {
      width: 50%;
      padding: 1rem;
      border: .1rem solid $blue;
      outline: 0;
      font-family: $defaultFont;
      font-size: 1.5rem;
      color: $blue;
    }

    &__submit {
      left: 0;
      right: 0;
      margin: 2rem auto 0;
    }

    &__phone {
      width: 50%;
    }

    .PhoneInput {
      &Input {
        width: 50%;
        padding: 1rem;
        border: .1rem solid $black;
        outline: 0;
        font-family: $defaultFont;
        font-size: 1.5rem;
      }

      &Country {
        width: 3rem;

        &Icon {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
