.menu {
  width: 100%;
  padding: 2rem 0;
  &__title {
    font-size: 5.6rem;
    color: $blue;
    font-weight: 400;
    font-family: "Yesteryear", sans-serif;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products {
    width: calc(100% - 27rem);

    &__card {
      width: 100%;
      height: 20rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      background-color: $white;
      margin-bottom: 2rem;

      &__fig {
        width: 18rem;
        height: 100%;
        overflow: hidden;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s;
      }

      &__link {
        width: 46rem;
        height: 100%;
        display: flex;
        text-decoration: none;

        &:hover .products__card__img {
          transform: scale(1.1);
        }
      }

      &__data {
        width: 28rem;
        height: 100%;
        padding: 0 1rem;
      }

      &__title {
        color: $lightOrange;
        font-size: 1.8rem;
        line-height: 1.6rem;
        font-weight: 500;
        font-family: "Raleway", sans-serif;
        margin-bottom: 1rem;
      }

      &__desc {
        color: $blue;
        font-size: 1.5rem;
        line-height: 1.6rem;
        margin-bottom: 1.5rem;
      }

      &__price {
        color: $black;
        font-size: 1.7rem;
        line-height: 1.6rem;
      }
    }
  }
}
