.single {
  padding-top: 2rem;

  &__title {
    font-size: 5.6rem;
    color: $blue;
    font-weight: 400;
    font-family: "Yesteryear", sans-serif;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  &__card {
    width: 100%;
    padding: 2rem;
    background-color: $white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    &__container {
      display: flex;
      flex-direction: column;
      width: 48%;
      height: 100%;
    }

    &__fig {
      width: 48%;
      height: 30rem;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
    }

    &__data {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__title {
      color: $lightOrange;
      font-size: 1.8rem;
      line-height: 1.6rem;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
      margin-bottom: 1rem;
    }

    &__desc {
      color: $blue;
      font-size: 1.5rem;
      line-height: 1.6rem;
      margin-bottom: 1.5rem;
    }

    &__price {
      color: $black;
      font-size: 1.7rem;
      line-height: 1.6rem;
    }

    .products__card {
      &__control {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__quantity {
        &__text {
          display: none;
        }

        &__control {
          width: 3rem;
          height: 3rem;
          background-color: $grey;
          color: $black;
          border: 0;
          outline: 0;
          cursor: pointer;
          font-size: 1.5rem;
          transition: all .4s;

          &:hover {
            opacity: .8;
          }
        }

        &__input {
          width: 4rem;
          padding: .5rem;
          color: $black;
          text-align: center;
          margin: 0 1rem;
          font-size: 1.4rem;
        }
      }

      &__total {
        color: $blue;
        font-size: 1.5rem;
        line-height: 1.6rem;

        &__price {
          color: $lightOrange;
        }
      }

      &__add {
        font-size: 1.5rem;
        line-height: 1.6rem;
        color: $blue;
        font-weight: 500;
        font-family: "Raleway", sans-serif;
        padding: 1.3rem 2.5rem;
        background-color: $lightOrange;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: all .4s;

        &:hover {
          color: $lightOrange;
          background-color: $blue;
        }
      }
    }
  }
}
