
.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 1rem;
  position: relative;

  &__link {
    margin-right: 1rem;
    margin-bottom: 1rem;
    &.active, &:hover{
      color: $lightOrange;
    }
  }
}
.menu__bars{
  display: none;
}
