.contact {
  width: 100%;
  height: fit-content;
  position: absolute;
  padding: 1rem 0 2rem;
  top: 0;
  background-color: $blue;

  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    color: $white;

    &__location {
      margin-right: 0.5rem;
    }

    &:nth-last-child(1) {
      padding-bottom: 0;
    }

    &__text {
      width: 50%;
      text-align: center;
      line-break: anywhere;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
