$black: #000;
$white: #fff;
$grey: #d1d1d1;
$greyTransparent: rgba(209, 209, 209, 0.24);
$blue: #151824;
$red: #890c19;
$defaultFont: 'Roboto', sans-serif;
$lightOrange: #bf9e7b;
$cardGrey: #f7f7f7;
$cardDarkGrey: #dfdfdf;
$cardBlue: #efeff4;
$lightGrayishBlue: #F0F2F5;
